<div class="container">
  <div class="flash">
    <% flash.each do |name, msg| %>
      <p class="alert alert-<%= correct_flash_name(name) %>">
        <%= msg %><a href="#" class="close" data-dismiss="alert" aria-label="close">&times</a>
      </p>
    <% end %>
  </div>
</div>