<div class="container">
  <div class="questionnaires_<%= action_name %>">
    <h1>
      Quiz
    </h1>
    <hr>
    <% if @surveys.empty? %>
      <p> No hay quiz</p>
    <% else %>
      <table class='table table-nonfluid survey-table'>
        <thead>
          <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Preguntas</th>
            <th>Participantes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'survey', collection: @surveys %>
        </tbody>
      </table>
      <%= paginate @surveys %>
    <% end %>
  </div>
</div>
