<div class="container">
  <% if @survey.nil? %>
    <p>
      Este quiz no está disponible
    </p>
  <% elsif @survey.avaliable_for_participant?(@participant) %>
    <%= render 'form' %>
  <% else %>
    <p>
      Ya no puedes realizar más intentos para esta encuesta
      You have spent all the possible attempts to answer this Survey
    </p>
    <p>
      <%= link_to delete_user_attempts_path(@survey.id, session[:user_id]), method: :delete do %>
        Clickea aquí para reiniciar los intentos
      <% end %>
    </p>
  <% end -%>
</div>